#header {
	background-color: white;
}

.upper {
	background-color: var(--color0);
}

.lower {
	background-color: var(--color1);
	max-height: 0px;
}

.endCap {
	max-width: 350px;
	min-width: 350px;
}

.central {
	display: block;
	width: 100vw;
	height: calc(var(--fullTile) * 1.5);
	margin: auto;
}

.central>div {
	display: inline-block;
	height: calc(var(--fullTile) * 1.5);
	line-height: var(--fullTile);
	vertical-align: top;
}

.core {
	width: calc(100% - 708px);
}

.core~.endCap {
	text-align: right;
}

#userPlate {
	width: 225px;
	max-height: calc(var(--fullTile) * 1.5);
    vertical-align: top;
    display: inline-block;
}

#userPort {
	height: calc(var(--fullTile) * 1);
	width: calc(var(--fullTile) * 1);
	margin: calc(var(--fullTile) * .25) calc(var(--fullTile) * .125);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	display: inline-block;
}

#userPort~div {
	height: calc(var(--fullTile) * 1.5);
	width: 171px;
	display: inline-block;
	text-align: left;
	vertical-align: top;
}

#userPlate.filled #userName, #userPlate.filled #userTitle {
	height: var(--halfTile);
	max-height: var(--halfTile);
	line-height: var(--halfTile);
	width: 171px;
	font-size: var(--halfTile);
	display: block;
}

#userName {
	height: var(--fullTile);
	line-height: var(--fullTile);
	font-size: calc(var(--fullTile) * .75);
	margin: 10px 0px 0px 0px;
	display: block;
	transition: all .25s;
}

#userTitle {
	max-height: 0px;
	height: var(--halfTile);
	line-height: var(--halfTile);
	width: 171px;
	font-size: var(--halfTile);
	display: block;
	transition: all .25s;
	font-style: italic;
}

#businessSelect {
	max-width: 157px;
	width: 157px;
	height: calc(var(--fullTile) * 1.5);
	display: inline-block;
	vertical-align: top;
	position: relative;
	z-index: 1;
}

#businessSelect button {
	height: calc(var(--fullTile) * 1.1);
	margin: 8px;
	width: 141px;
	max-width: 141px;
	border: none;
	box-shadow: none;
	background: none;
	overflow: hidden;
	border-radius: 4px;
}

#businessModal {
	top: 8px;
	left: 8px;
	width: 121px;
	padding: 10px;
}

.businessBox {
	cursor: pointer;
}

#accountSettings {
	display: inline-block;
	height: calc(var(--fullTile) * 1.5);
}

#accountSettings div {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 9px solid var(--color0);
	height: 0px;
	width: 0px;
	margin: 26px 5px 25px 5px;
	filter: drop-shadow(0px 0px .5px black) drop-shadow(0px 0px .5px black);
}
