:root {
	--f0: 'Economica', sans-serif;
	--f1: 'Roboto', sans-serif;
	--f2: 'Forum', cursive;
	
	--halfTile: 20px;
	--fullTile: 40px;
	--doubleTile: 80px;
	
	--shadow: #121212;
	
	--color0: #9ed !important;
	--color1: rgba(153, 238, 221, .2) !important;
	--color2: white !important;
	--color3: ghostwhite !important;
	--color4: #727272 !important;
	--color5: darkgrey !important;
}

::-webkit-scrollbar {
	display:unset !important;
	height: 16px;
    width: 6px;
    overflow: visible;
}

::-webkit-scrollbar-button {
	height: 0px;
	width: 0px;
}

::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,0.2);
	border-radius: 25px;
	background-clip: padding-box;
	border: solid transparent;
	border-width: 1px 0px 1px 0px;
	min-height: 28px;
	padding: 100px 0 0;
	box-shadow: inset 1px 1px 0 rgba(0,0,0,0.1), inset 0 -1px 0 rgba(0,0,0,0.07);
}

::-webkit-scrollbar-track {
	background-clip: padding-box;
	border: solid transparent;
	border-width: 0 0 0 4px;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

.ui-loader.ui-corner-all.ui-body-a.ui-loader-default h1 {
	display: none;
}

.ui-page.ui-page-theme-a.ui-page-active {
	vertical-align: top;
	min-height: unset !important;
	overflow: hidden;
	outline: none;
}

html {
	width: 100vw;
	height: 100vh;
	font-family: var(--f0);
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #f8f9fa;
	background-size: cover;
	//background-image: url(https://eternalunrest.corehoundsystem.com/Images/dark%20woods.jpg);
}

h1 {
	margin: 0px 0px 0px 10px;
	display: inline-block;
	color: ghostwhite;
	font-weight: 100;
}

button {
	border: 1px solid #3079ed;
	border-radius: 2px;
	min-height: var(--halfTile);
	line-height: var(--halfTile);
	font-size: 11px;
	font-weight: bold;
	padding: 0px 10px 0px 0px;
	margin-top: 2px;
	color: white;
	font-family: var(--f1);
	background: #3079ed;
	background-image: linear-gradient(to bottom,#4d90fe,#4787ed);
	cursor: pointer;
	transition: all .218s;
	outline: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

ul {
	margin: 0px;
}

li {
	margin: 0px;
}

.centered {
	padding: 8px 0px;
}

.right {
	float: right;
}

.left {
	float: left;
}

.highlight:hover {
	background-color: rgba(0,0,0,0.15);
	cursor: pointer;
	transition: all .5s;
	filter: opacity(1.0);
}

.circle {
	border-radius: 50%;
	overflow: hidden;
}

.logoBox {
	width: var(--fullTile);
	position: relative;
	cursor: pointer;
}

.logoIcon {
	width: var(--fullTile);
	position: absolute;
	background-image: url('https://warden.corehoundsystem.com/Icons/Helmet%20(3).png');
	background-size: cover;
	top: 10px;
	filter: drop-shadow(-1px -1px 0px white) drop-shadow(1px 1px 0px white) drop-shadow(-1px 1px 0px white) drop-shadow(1px -1px 0px white) drop-shadow(0px 0px 5px #7ca);
	cursor: pointer;
}

.warden {
	padding-top: 4px;
	font-family: var(--f2);
	font-size: 32px;
	cursor: pointer;
}

#userPlate {
	width: 150px;
}

#userPort {
	height: calc(var(--fullTile) * .75);
	width: calc(var(--fullTile) * .75);
	margin: calc(var(--fullTile) * .125);
}

#userName {
	height: var(--fullTile);
	line-height: var(--fullTile);
	font-size: 24px;
}

#businessSelect {
	max-width: 120px;
	width: 120px;
}

#businessSelect button {
	min-width: 120px;
	max-width: 120px;
	font-size: 14px;
	height: 24px;
	line-height: 24px;
	margin: 8px 0px;
	padding-left: 5px;
	vertical-align: top;
	border: none;
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
	background-image: linear-gradient(to bottom,#9ed,#9ed);
	filter: drop-shadow(0px 0px .5px black);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#accountSettings {
	
}

#accountSettings div {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 9px solid var(--color0);
	height: 0px;
	margin: 16px 5px 15px 5px;
	filter: drop-shadow(0px 0px .5px black) drop-shadow(0px 0px .5px black);
}


#header {
	background-color: white;
}

.upper {
	background-color: var(--color0);
}

.lower {
	background-color: var(--color1);
}

.central {
	display: block;
	width: 1024px;
	height: var(--fullTile);
	margin: auto;
}

.central div {
	display: inline-block;
	height: var(--fullTile);
	line-height: var(--fullTile);
	vertical-align: top;
}

.endCap {
	max-width: 300px;
	min-width: 300px;
}

.core {
	width: calc(100% - 608px);
}

#mainContainer {
	height: calc(100vh - var(--fullTile) * 2);
	max-height: calc(100vh - var(--fullTile) * 2);
}

#leftNavigator {
	width: 250px;
	position: relative;
	transition: all .25s;
	overflow: hidden;
	display: inline-block;
	height: calc(100vh - var(--fullTile) * 2);
	max-height: calc(100vh - var(--fullTile) * 2);
}

#leftNavigator.collapsed {
	width: var(--fullTile);
}

#navCategories {
	overflow: auto;
    width: 225px;
	height: calc(100vh - var(--fullTile) * 3);
	max-height: calc(100vh - var(--fullTile) * 3);
}

.navCategory.collapsed {
	max-height: var(--fullTile);
}

.navCategory {
	max-height: 999px;
	min-height: var(--fullTile);
	line-height: var(--fullTile);
	font-size: 24px;
	transition: all .5s;
}

.categoryName {
	height: var(--fullTile);
	width: 225px;
	border-top-right-radius: var(--halfTile);
	border-bottom-right-radius: var(--halfTile);
	overflow: hidden;
	filter: opacity(0.7);
}

#leftNavigator.collapsed .categoryName {
	width: var(--fullTile);
}

.categoryName span {
	vertical-align: top;
	display: inline-block;
}

.categoryIcon {
	height: var(--fullTile);
	width: var(--fullTile);
	display: inline-block;
	background-size: 50% 50%;
	background-position: center center;
	background-repeat: no-repeat;
}

.navCategory:nth-child(1) .categoryIcon {
	background-image: url(https://warden.corehoundsystem.com/Icons/client.png);
}

.navCategory:nth-child(2) .categoryIcon {
	background-image: url(https://warden.corehoundsystem.com/Icons/project.png);
}

.navCategory:nth-child(3) .categoryIcon {
	background-image: url(https://warden.corehoundsystem.com/Icons/product.png);
}

.navCategory:nth-child(4) .categoryIcon {
	background-image: url(https://warden.corehoundsystem.com/Icons/campaign.png);
}

.navCategory:nth-child(5) .categoryIcon {
	background-image: url(https://warden.corehoundsystem.com/Icons/tracks.png);
}






#navigationCollapse {
	position: absolute;
    bottom: 0px;
    left: 0px;
	height: var(--fullTile);
	width: 100%;
}

#navigationCollapse>div {
	height: var(--fullTile);
	width: var(--fullTile);
	position: absolute;
	right: 0px;
	top: 0px;
	transform: rotateZ(45deg);
	transition: all .25s;
}

#leftNavigator.collapsed #navigationCollapse>div{
	transform: rotateZ(225deg);
}

#navigationCollapse>div>div:nth-child(1){
	border-bottom: 2px solid var(--color4);
	border-left: 2px solid var(--color4);
	height: 10px;
	width: 10px;
	position: absolute;
	top: 12px;
	right: 12px;
}

#innerContainer {
	height: calc(100vh - var(--fullTile) * 2);
	max-height: calc(100vh - var(--fullTile) * 2);
	display: inline-block;
	width: calc(100vw - 254px);
}

#leftNavigator.collapsed~#innerContainer {
	width: calc(100vw - 44px);
	transition: all .25s;
}

#modal {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
	max-height: 0px;
	color: ghostwhite;
	background-image: linear-gradient(to bottom,#222,#111);
	transition: .5s ease-in-out;
	z-index: 100;
	overflow: hidden;
}

#modal.open {
	max-height: 100vh;
}

.modalHeader {
	display: table-cell;
	width: 100vw;
	line-height: var(--fullTile);
	font-size: 20px;
	box-shadow: 0px 0px 10px var(--shadow);
}

.modalCollapse {
	height: var(--fullTile);
	width: var(--fullTile);
	display: inline-block;
	margin: auto;
	
}

.modalCollapse div {
	border: 2px solid ghostwhite;
	background: ghostwhite;
}

.modalCollapse>div {
	margin: 18px auto;
	width: 20px;
	position: relative;
}

.modalCollapse>div div:nth-child(1) {
	transform: rotate(-45deg);
	top: -1px !important;
	left: -2px;
	transform-origin: left;
	width: 10px;
	position: absolute;
}

.modalCollapse>div div:nth-child(2) {
	transform: rotate(45deg);
	top: -3px !important;
	left: -2px;
	transform-origin: left;
	width: 10px;
	position: absolute;
}

@media only screen and (min-width: 361px) {
	html {
		
	}
}

#tempStuff {
	display: none;
}
